.SecNavCont {
  padding: 3rem 6rem 0 6rem;
}
.SecNavCont .SecNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SecNavCont .SecNav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.SecNavCont .SecNav ul li {
  list-style: none;
}
.SecNavCont .SecNav .btn_grp {
  display: flex;
  align-items: center;
}
.SecNavCont .SecNav .btn_grp button {
  height: 40px;
  width: 130px;
  border-radius: 8px;
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
}
.SecNavCont .SecNav .btn_grp button:last-of-type {
  width: 150px;
  background-color: #2f6ce5;
  color: white;
}

@media only screen and (max-width: 992px) {
  .SecNavCont {
    padding: 3rem 4rem 0 4rem;
  }
  .SecNavCont .SecNav .btn_grp button {
    width: 90px;
    font-size: 0.8rem;
  }
  .SecNavCont .SecNav .btn_grp button:last-of-type {
    width: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .SecNavCont {
    padding: 1rem 1rem;
  }
  .SecNavCont .SecNav .btn_grp button {
    height: 30px;
    font-size: 0.7rem;
  }
  .SecNavCont .SecNav .btn_grp button:last-of-type {
    width: 120px;
  }
  .SecNavCont .SecNav ul {
    font-size: 0.8rem;
  }
}
